<%= form_for @page, url: {action: "update"} do |f| %>
    <%= f.label :title %><span><%= f.text_field :title %></span>
    <%= f.cktext_area :body, :width => 100 %>
    <%= f.label "Indexpertise?" %> <br />
    <%= f.check_box :indexpertise %> <br />
    <%= f.submit %>
<% end  %>